<%#
Takes in the following .ejs files as those tokens:
    addNewCar
    carsTracked
    gas
    maintenance
    oil
    signInUp
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Auto M.D.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="noScrollbar">
    <main>
        <div id="mySidenav" class="sidenav noScrollbar">
            <a href="javascript:void(0);" class="popupLink addbtn">+</a>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">
                <img id="car1" src="/media/hondaAccord2019.png" alt="Honda Accord 2019" class="thumbnail">
                <label for="car1">Honda Accord 2019</label>
            </a>
            <a href="#">
                <img id="car2" src="/media/toyotaCamry2020.png" alt="Toyota Camry 2020" class="thumbnail">
                <label for="car2">Toyota Camry 2020</label>
            </a>
            <a href="#">
                <img id="car3" src="/media/toyotaCorolla2020.png" alt="Toyota Corolla 2020" class="thumbnail">
                <label for="car3">Toyota Corolla 2020</label>
            </a>
        </div>
        <div class="popup" tabindex="-1">
            <%- addNewCar %>
        </div>

        <div id="area">
            <span id="sideMenu" style="cursor:pointer" onclick="openNav()">Other cars owned</span>
            <h1>
                Auto M.D.&trade;
            </h1>
            <img id="logo" alt="logo" src="/media/logo.png">
        </div>
        <div id="bottom-bar">
            <section>
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">
                                <picture class="slideLink">
                                    <source media="(min-width:680px)" srcset="/media/gasPump.jpg">
                                    <img src="/media/gasPump-small.jpg" alt="Gas" id="gas">
                                </picture>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <picture class="slideLink">
                                    <source media="(min-width:680px)" srcset="/media/oilDrop.jpg">
                                    <img src="/media/oilDrop-small.jpg" alt="Oil" id="oil">
                                </picture>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <picture class="slideLink">
                                    <source media="(min-width:680px)" srcset="/media/wrench.jpg">
                                    <img src="/media/wrench-small.jpg" alt="Basic Maintenance" id="maintenance">
                                </picture>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <picture>
                                    <source media="(min-width:680px)" srcset="/media/book.jpg">
                                    <img src="/media/book-small.jpg" alt="Car Manual">
                                </picture>
                            </a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
    <footer>
        <p>
            &copy; 2020, Auto M.D. |
            <span id="lastModified"></span> |
            Icons provided by <a href="https://www.vecteezy.com/">Vecteezy</a>
        </p>
    </footer>

    <div class="slide gas" tabindex="-1">
        <hr class="slit close">
        <%- gas %>
    </div>
    <div class="slide oil" tabindex="-1">
        <hr class="slit close">
        <%- oil %>
    </div>
    <div class="slide maintenance" tabindex="-1">
        <hr class="slit close">
        <%- maintenance %>
    </div>
    
    <%- carsTracked %>
    <%- signInUp %>

    <!-- import the webpage's javascript file -->
    <script src="/js/amdFunctions.js" defer></script>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/amdStyle.css">

    <!-- Bootstrap 4 CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</body>

</html>